@model CareerExpansionMod.CEM.Youth.YTLeague
@{
    ViewData["Title"] = "LeagueEditor";
    Layout = "~/Views/Shared/_LayoutEditMode.cshtml";
}

<h1>League Editor</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.YTLeagueId)
    <br />
    @Html.LabelFor(x => x.LeagueName)
    <br />
    @Html.EditorFor(x => x.LeagueName)
    <br />
    @Html.LabelFor(x => x.Level)
    <br />
    @Html.EditorFor(x => x.Level)
    <br />
    @Html.LabelFor(x => x.MaxAge)
    <br />
    @Html.EditorFor(x => x.MaxAge)
    <br />
    @Html.LabelFor(x => x.MaxAmountOfOverage)
    <br />
    @Html.EditorFor(x => x.MaxAmountOfOverage)
    <br />
    <input type="submit" value="Save" />
}