<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>paulv2k4 Career Expansion Mod</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container text-center">
                <span class="navbar-brand">paulv2k4 Career Expansion Mod (ALPHA)</span>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <span id="lblLoadedCareerSave" name="lblLoadedCareerSave">
                            </span>
                        </li>
                        <li class="nav-item pl-3">
                            <span id="CareerSaveName" name="CareerSaveName">
                            </span>
                        </li>
                        <li class="nav-item float-right pl-5" style="display: none;">
                            <span id="IsBGLoading" name="IsBGLoading" style="color:grey;">
                                <i class="fa fa-cog rotating"></i>&nbsp;Loading&nbsp;<span id="BGLoadingWhat"></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">


            <div id="panelWelcomePleaseLoad" class="text-center" style="display:none;">
                <h1 class="display-4">Welcome to the Career Expansion Mod</h1>
                <p>Please load your Career Save to continue...</p>
                <p></p>
            </div>
            <div id="panelFancyLoading" class="text-center" style="display:none;">
                <h1 class="display-4"><i class="fa fa-cog rotating"></i>&nbsp;Loading</h1>
            </div>
            <div id="panelMain" class="text-center" style="display:none;">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                        <div class="container text-center">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@Url.Action("Index", "Finances")">
                                            <i class="fa fa-money-bill" aria-hidden="true"></i>&nbsp;Finances
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@Url.Action("Index", "YouthSystem")">
                                            <i class="fa fa-child" aria-hidden="true"></i>&nbsp;Youth System
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@Url.Action("Index", "Stats")">
                                            <i class="fas fa-signal" aria-hidden="true"></i>&nbsp;Stats
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@Url.Action("Index", "Transfers")">
                                            <i class="fas fa-exchange-alt" aria-hidden="true"></i>&nbsp;Transfers
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@Url.Action("Index", "Cheats")">
                                            <i class="fas fa-tools" aria-hidden="true"></i>&nbsp;Cheats
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                @*<div ui-view></div>*@

                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="float-left">
                &copy; 2020 - paulv2k4 Career Expansion Mod&trade;
            </div>
            <div class="float-right">
                <i class="far fa-clock"></i>&nbsp;Game Date: <span id="gameDate"></span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>

        var bIsInCareerMode = false;
        var debug = false;

        setInterval(() => {
            $.getJSON("/IsCareerModeActive/", function (d) {
                //alert(d);
                console.log(d);
                $('#lblLoadedCareerSave').html(d);

                if ((d.indexOf("ERR:") == -1 && !bIsInCareerMode) || (!bIsInCareerMode && debug)) {
                    bIsInCareerMode = true;
                    $('#panelWelcomePleaseLoad').hide(1000);
                    $('#panelFancyLoading').show(1000).delay(1000).hide(1000);
                    setTimeout(function () {
                        $('#panelMain').show(1000);
                    }, 1000);

                }
                else if (!bIsInCareerMode) {
                    $('#panelWelcomePleaseLoad').show(1000);
                }

            }).catch(function (t, u, v) {
                console.log(t);
                console.log(u);
                console.log(v);

            });

        }, 1000);

        var pollSaveNameTime = 1000;
        // poll Save Name
        setInterval(() => {
            if (bIsInCareerMode) {
                $.getJSON("/GetCareerModeSaveName/", function (d) {
                    $('#CareerSaveName').html(d);
                    pollSaveNameTime = 30000;
                }).catch(function (t, u, v) {
                    console.log(t);
                    console.log(u);
                    console.log(v);

                });
            }
            pollSaveNameTime = 1000;
        }, pollSaveNameTime);


        // poll Career Game Date
        setInterval(() => {
            if (bIsInCareerMode) {
                $.getJSON("/GetCareerModeGameDate/", function (d) {
                    $('#gameDate').html(d);
                }).catch(function (t, u, v) {
                    console.log(t);
                    console.log(u);
                    console.log(v);

                });
            }

        }, 1000);

        // poll Career Game Date
        setInterval(() => {
            
            $.getJSON("/IsBGLoading/", function (d) {

                if (d.BGLoading == "true") {
                    $('#IsBGLoading').css('display', 'block');
                    $('#BGLoadingWhat').html(d.BGLoadingWhat);
                }
                else {
                    $('#IsBGLoading').css('display', 'none');
                }

            }).catch(function (t, u, v) {
                console.log(t);
                console.log(u);
                console.log(v);

            });

        }, 1000);
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
