@model CareerExpansionMod.CEM.Finances.Sponsor
@{
    ViewData["Title"] = "CreateSponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-2x">
    <div class="card-header">
        <h1>Create a Sponsor</h1>
    </div>
    <div class="card-body allow-overflow-y">

        <form action="Sponsor/Create" method="post">
            <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-save"></i> Save</button>
            <h2>Details</h2>
            @Html.LabelFor(x => x.SponsorName)
            <br />
            @Html.EditorFor(x => x.SponsorName)
            <br />
            @Html.LabelFor(x => x.SpecificTeamId)
            <br />
            @Html.EditorFor(x => x.SpecificTeamId)
            <br />
            @Html.LabelFor(x => x.SponsorType)
            <br />
            @Html.DropDownListFor(x => x.SponsorType, Html.GetEnumSelectList<CareerExpansionMod.CEM.Finances.eSponsorType>())
            <br />
            @Html.LabelFor(x => x.SponsorPayoutPerYearMax)
            <br />
            @Html.EditorFor(x => x.SponsorPayoutPerYearMax)
            <br />
            @Html.LabelFor(x => x.ParentSponsorName)
            <br />
            @Html.EditorFor(x => x.ParentSponsorName)
            <br />
            @Html.LabelFor(x => x.SponsorImageUrl)
            <br />
            @Html.EditorFor(x => x.SponsorImageUrl)
            <br />
            <h2>Levels</h2>
            @Html.DropDownList("ddlSponsorLevel0", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[0]));
            @Html.DropDownList("ddlSponsorLevel1", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[1]));
            @Html.DropDownList("ddlSponsorLevel2", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[2]));
            @Html.DropDownList("ddlSponsorLevel3", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[3]));
            @Html.DropDownList("ddlSponsorLevel4", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[4]));
            @Html.DropDownList("ddlSponsorLevel5", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[5]));
            @Html.DropDownList("ddlSponsorLevel6", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[6]));
            @Html.DropDownList("ddlSponsorLevel7", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[7]));
            @Html.DropDownList("ddlSponsorLevel8", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[8]));
            @Html.DropDownList("ddlSponsorLevel9", CareerExpansionMod.CEM.CEMUtilities.GetNumberTrueFalseSelectList(Model.SponsorLevels[9]));
        </form>
    </div>
</div>




