@using Microsoft.AspNetCore.Components
@using CareerExpansionMod.CEM
@using CareerExpansionMod.CEM.FIFA
@using CareerExpansionMod.CEM.Finances
@model CareerExpansionMod.CEM.Finances.TeamFinance
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var MainSponsor = ViewBag.MainSponsor as SponsorsToTeam;
    var KitSponsor = ViewBag.KitSponsor as SponsorsToTeam;
    var TrainingSponsor = ViewBag.TrainingSponsor as SponsorsToTeam;

}


<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body" id="budgetEdit" style="display:none;">
                    <h4>Overview</h4>
                    <div class="card-body-icon">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <hr />
                    <div class="row">
                        <label class="col-form-label col-6">Starting Budget</label>
                        <input class="form-control mt-1 col-6" disabled="disabled" id="txtStartingBudget" />
                    </div>
                    <div class="row">
                        <label class="col-form-label col-6">Transfer Budget</label>
                        <input class="form-control  mt-1 col-6" id="txtTransferBudget" onchange="setBudget()" />
                    </div>
                </div>
                <div class="card-body" id="budgetView" style="display:block;">
                    <h4>Overview</h4>
                    <button class="" style="z-index:9999999;" onclick="editBudgets()"><i class="fa fa-edit fa-align-right"></i></button>
                    <div class="card-body-icon">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <hr />
                    <div class="row">
                        <label class="col-form-label col-6">Starting Budget</label>
                        <label class="col-form-label col-6" id="lblStartingBudget" />
                    </div>
                    <div class="row">
                        <label class="col-form-label col-6">Transfer Budget</label>
                        <label class="col-form-label col-6" id="lblTransferBudget" />
                    </div>
                </div>
            </div>
            <div class="card">
                <a class="card-body" ng-href="#!Finances/Prices">
                    <h4>Prices</h4>
                    <div class="card-body-icon">
                        <i class="fas fa-beer" aria-hidden="true"></i>
                    </div>
                    @*<form>
                        <div class="row">
                            <label class="col-form-label col-5"><i class="fas fa-hamburger"></i>&nbsp;Burgers</label>
                            <div class="col-4">
                                <input class="" id="txtBurgerPrice" disabled="disabled" type="range" value="5" min="1" max="9.99" step="0.5" onchange="ChangedPrices()" required />
                            </div>
                            <span class="col-form-label col-3" id="numBurgerPrice"></span>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-5"><i class="fas fa-utensils"></i>&nbsp;Fries</label>
                            <input class="col-4" id="txtFriesPrice" disabled="disabled" type="range" value="3" min="1" max="4.99" step="0.5" onchange="ChangedPrices()" required />
                            <span class="col-form-label col-3" id="numFriesPrice"></span>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-5"><i class="fas fa-coffee"></i>&nbsp;Soft Drink</label>
                            <input class="col-4" id="txtSoftDrinkPrice" disabled="disabled" type="range" value="2.50" min="1" max="4.99" step="0.5" onchange="ChangedPrices()" required />
                            <span class="col-form-label col-3" id="numSoftDrinkPrice"></span>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-5"><i class="fas fa-beer"></i>&nbsp;Alcohol</label>
                            <input class="col-4" id="txtAlcoholDrinkPrice" disabled="disabled" type="range" value="4" min="1" max="4.99" step="0.5" onchange="ChangedPrices()" required />
                            <span class="col-form-label col-3" id="numAlcoholDrinkPrice"></span>
                        </div>
                    </form>*@

                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-2x allow-overflow-y">
                <a class="card-body" href="#!Finances/Sponsors" style="text-align:left; vertical-align: top;">
                    <h4>Sponsorship</h4>
                    <div class="card-body-icon">
                        @if (MainSponsor != null)
                        {
                            <img src="@MainSponsor.GetSponsor().GetSponsorImageUrl()" />
                        }
                    </div>
                    <hr />
                    <div class="text-center">
                        <div class="row">
                            <div class="col-12 text-center">
                                @if (MainSponsor != null)
                                {
                                    <img src="@MainSponsor.GetSponsor().GetSponsorImageUrl()" style="width:100%;" />
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6">
                                @if (MainSponsor != null)
                                {

                                    <i class="fa fa-money"></i>
                                    <span>&nbsp;£&nbsp; @CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(MainSponsor.PayoutPerYear)) / yr</span>
                                }
                                else
                                {
                                    <i class="fa fa-money"></i>
                                    <span>&nbsp;£&nbsp; 0m / yr</span>
                                }
                            </div>
                            <div class="col-6">
                                @if (MainSponsor != null)
                                {

                                    <i class="fa fa-clock"></i><span>&nbsp;@MainSponsor.ContractLengthInYears&nbsp;year(s)</span>
                                }
                                else
                                {
                                    <i class="fa fa-clock"></i><span>&nbsp;0 year(s)</span>
                                }
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <h5>Confidence</h5>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-1">
                            <div class="col-6">
                                @if (KitSponsor != null)
                                {
                                    <h6>Kit Creator</h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="@KitSponsor.GetSponsor().GetSponsorImageUrl()" style="width: 50px; height: 50px;" />
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h6>Kit Creator</h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="~/images/sponsors/none.jfif" style="width: 50px; height: 50px;" />
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <strong>No Kit Creator</strong>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                @if (TrainingSponsor != null)
                                {
                                    <h6>Training Sponsor</h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="@TrainingSponsor.GetSponsor().GetSponsorImageUrl()" style="width: 50px; height: 50px;" />
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h6>Training Sponsor</h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="~/images/sponsors/none.jfif" style="width: 50px; height: 50px;" />
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <strong>No Training Sponsor</strong>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a class="card-body" onclick="requestFunds()" style="text-align:left; vertical-align: top;">
                    <h4>Request Funds</h4>
                    <div class="card-body-icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="pt-3">
                        <strong>Request Funds from your board</strong>
                    </div>
                    <div class="pt-3">
                        <div style="line-height: 1em;" id="txtRequestFundsMessage"></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-body" ng-href="#!FinancesLoansAndDebts" style="text-align:left; vertical-align: top;">
                    <h4>Debts and Loans</h4>
                    <div class="card-body-icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="pt-3">
                        <strong>View your current Debts and Loans</strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-4">


        </div>


    </div>
</div>


    <script>

        function getTransferBudget() {
            $.getJSON("Finances/GetTransferBudget", function (d) {

                $('#txtTransferBudget').val(d);
                $('#lblTransferBudget').html(FormatCurrencyNumber(d));

            });
        }
        getTransferBudget();

        $.getJSON("Finances/GetStartingBudget", function (d) {

            $('#txtStartingBudget').val(d);
            $('#lblStartingBudget').html(FormatCurrencyNumber(d));

        });



        function setBudget() {
            //alert("set a budget: " + $('#txtTransferBudget').val());

            var url = "Finances/SetTransferBudget?amount=" + $('#txtTransferBudget').val();
            //alert(url);

            $.getJSON(url, function (d) {

            });

        }

        function editBudgets() {
            $('#budgetView').hide();
            $('#budgetEdit').show();
        }

        function requestFunds() {

            var url = "Finances/RequestFunds/";
            //alert(url);

            $.getJSON(url, function (d) {

                console.log(d);
                //alert(d.message);
                $('#txtRequestFundsMessage').html(d.message);
                getTransferBudget();
                //$('#btnRequestFunds').removeClass("btn-primary");
                //if (d.success == "true") {

                //    $('#btnRequestFunds').addClass("btn-success");
                //    $('#txtRequestFundsMessage').html(d.message);

                //}
                //else {

                //    $('#btnRequestFunds').addClass("btn-danger");
                //    $('#txtRequestFundsMessage').html(d.message);
                //}
                //setTimeout(function () {
                //    $('#btnRequestFunds').removeClass("btn-success");
                //    $('#btnRequestFunds').removeClass("btn-danger");
                //    $('#btnRequestFunds').addClass("btn-primary");

                //}, 3000);

            });

        }

        function ChangedPrices() {
            $('#numBurgerPrice').html(FormatCurrencyNumber($('#txtBurgerPrice').val()));
            $('#numFriesPrice').html(FormatCurrencyNumber($('#txtFriesPrice').val()));
            $('#numSoftDrinkPrice').html(FormatCurrencyNumber($('#txtSoftDrinkPrice').val()));
            $('#numAlcoholDrinkPrice').html(FormatCurrencyNumber($('#txtAlcoholDrinkPrice').val()));
        }
        ChangedPrices();
    </script>
