@using CareerExpansionMod.CEM
@using CareerExpansionMod.CEM.FIFA
@using CareerExpansionMod.CEM.Finances
@{
    ViewData["Title"] = "Sponsors";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var AlcoholSponsor = ViewBag.AlcoholSponsor as SponsorsToTeam;
    var DrinksSponsor = ViewBag.DrinksSponsor as SponsorsToTeam;
    var FoodSponsor = ViewBag.FoodSponsor as SponsorsToTeam;
    var GeneralSponsor = ViewBag.GeneralSponsor as SponsorsToTeam;
    var GymSponsor = ViewBag.GymSponsor as SponsorsToTeam;
    var HospitalitySponsor = ViewBag.HospitalitySponsor as SponsorsToTeam;
    SponsorsToTeam KitSponsor = ViewBag.KitSponsor as SponsorsToTeam;
    var LegalSponsor = ViewBag.LegalSponsor as SponsorsToTeam;
    var MainSponsor = ViewBag.MainSponsor as SponsorsToTeam;
    var NutritionalSponsor = ViewBag.NutritionalSponsor as SponsorsToTeam;
    var TrainingSponsor = ViewBag.TrainingSponsor as SponsorsToTeam;
    var TravelSponsor = ViewBag.TravelSponsor as SponsorsToTeam;
}

<div class="card card-2x">
    <div class="card-body allow-overflow-y">
        <h1>Club Sponsors and Partnerships</h1>


        @if (CareerDB1.FIFAUser != null)
        {
            <div class="row">
                @if (MainSponsor != null)
                {
                    <div class="col-4">
                        <div class="card plain">
                            <div class="card-body plain">
                                <img src="@MainSponsor.GetSponsor().GetSponsorImageUrl()" class="center" />
                            </div>
                            <div class="card-footer">
                                <span>Payout:&nbsp;</span>
                                @CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(MainSponsor.PayoutPerYear))
                                &nbsp;per year
                                <br />
                                Main Sponsor
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="card plain allow-overflow-y">
                            <div class="card-header">
                                <h5>Select your Main Sponsor</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>PPY</th>
                                            <th>Yrs.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var mainSponsor in Sponsor.LoadAll().Where(x => x.SponsorType == eSponsorType.Main).OrderByDescending(x => x.SponsorPayoutPerYearMax))
                                        {
                                            <tr onclick="popupAreYouSureSponsor('@eSponsorType.Main', '@mainSponsor.SponsorName', '@mainSponsor.GetSponsorImageUrl()', '@SponsorsToTeam.GetCaclulatedPayoutAmountPerYear(CareerDB1.FIFAUser.clubteamid, mainSponsor.SponsorName)', '@SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, mainSponsor.SponsorName)')">
                                                <td><img src="@mainSponsor.GetSponsorImageUrl()" width="100" /></td>
                                                <td>@mainSponsor.SponsorName</td>
                                                <td>
                                                    @if (CareerDB1.FIFAUser != null)
                                                    {

                                                        @CEMUtilities.FormatCurrencyNumber(@SponsorsToTeam.GetCaclulatedPayoutAmountPerYear(CareerDB1.FIFAUser.clubteamid, mainSponsor.SponsorName))
                                                    }
                                                    else
                                                    {
                                                        @CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(mainSponsor.SponsorPayoutPerYearMax))
                                                    }
                                                </td>

                                                <td>
                                                    @if (CareerDB1.FIFAUser != null)
                                                    {
                                                        @SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, mainSponsor.SponsorName)
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                }
                @if (KitSponsor != null)
                {
                    <div class="col-4">
                        <div class="card plain">
                            <div class="card-body plain">
                                <img src="@KitSponsor.GetSponsor().GetSponsorImageUrl()" class="center" />
                            </div>
                            <div class="card-footer">
                                <span>Payout:&nbsp;</span>@CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(KitSponsor.PayoutPerYear))&nbsp;per year
                                <br />
                                Kit Sponsor
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="card plain allow-overflow-y">
                            <div class="card-header">
                                <h5>Select your Kit Make</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>PPY</th>
                                            <th>Yrs.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var kitSponsor in Sponsor.LoadAll().Where(x => x.SponsorType == eSponsorType.Kit).OrderByDescending(x => x.SponsorPayoutPerYearMax))
                                        {
                                            <tr onclick="popupAreYouSureSponsor('@eSponsorType.Kit', '@kitSponsor.SponsorName', '@kitSponsor.GetSponsorImageUrl()', '@SponsorsToTeam.GetCaclulatedPayoutAmountPerYear(CareerDB1.FIFAUser.clubteamid, kitSponsor.SponsorName)', '@SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, kitSponsor.SponsorName)')">
                                                <td><img src="@kitSponsor.GetSponsorImageUrl()" width="100" /></td>
                                                <td>@kitSponsor.SponsorName</td>
                                                <td>
                                                    @if (CareerDB1.FIFAUser != null)
                                                    {

                                                        @CEMUtilities.FormatCurrencyNumber(@SponsorsToTeam.GetCaclulatedPayoutAmountPerYear(CareerDB1.FIFAUser.clubteamid, kitSponsor.SponsorName))
                                                    }
                                                    else
                                                    {
                                                        @CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(kitSponsor.SponsorPayoutPerYearMax))
                                                    }
                                                </td>

                                                <td>
                                                    @if (CareerDB1.FIFAUser != null)
                                                    {
                                                        @SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, kitSponsor.SponsorName)
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                }
                @if (TrainingSponsor != null)
                {
                    <div class="col-4">
                        <div class="card plain">
                            <div class="card-body plain">
                                <img src="@TrainingSponsor.GetSponsor().GetSponsorImageUrl()" class="center" />
                            </div>
                            <div class="card-footer">
                                <span>Payout:&nbsp;</span>@CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(TrainingSponsor.PayoutPerYear))&nbsp;per year
                                <br />
                                Training Sponsor
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="card plain allow-overflow-y">
                            <div class="card-header">
                                <h5>Select your Stadium Sponsor</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>PPY</th>
                                            <th>Yrs.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var trainingSponsor in Sponsor.LoadAll().Where(x => x.SponsorType == eSponsorType.Training && !x.SpecificTeamId.HasValue).OrderByDescending(x => x.SponsorPayoutPerYearMax))
                                        {
                                            <tr onclick="popupAreYouSureSponsor('@eSponsorType.Training', '@trainingSponsor.SponsorName', '@trainingSponsor.GetSponsorImageUrl()'
        , '@SponsorsToTeam.GetCaclulatedPayoutAmountPerYear(CareerDB1.FIFAUser.clubteamid, trainingSponsor.SponsorName)'
    , '@SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, trainingSponsor.SponsorName)')">
                                                <td><img src="@trainingSponsor.GetSponsorImageUrl()" width="100" /></td>
                                                <td>@trainingSponsor.SponsorName</td>
                                                <td>
                                                    @if (CareerDB1.FIFAUser != null)
                                                    {

                                                        @CEMUtilities.FormatCurrencyNumber(@SponsorsToTeam.GetCaclulatedPayoutAmountPerYear(CareerDB1.FIFAUser.clubteamid, trainingSponsor.SponsorName))
                                                    }
                                                    else
                                                    {
                                                        @CEMUtilities.FormatCurrencyNumber(Convert.ToInt32(trainingSponsor.SponsorPayoutPerYearMax))
                                                    }
                                                </td>

                                                <td>
                                                    @if (CareerDB1.FIFAUser != null)
                                                    {
                                                        @SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, trainingSponsor.SponsorName)
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Something has gone wrong and CME can't find your team! Try leaving and coming back to this page.
            </div>
        }

    </div>
</div>

<div id="myModal" class="modal text-black-50" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ConfirmSponsorTitle" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row">
                        <img id="BodySponsorImage" src="" style="width: 25%; margin: 0 auto;" />
                    </div>
                    <div class="row h5">
                        Are you sure you want to select&nbsp;<span id="BodySponsorName"></span>
                        &nbsp;as your&nbsp;
                        <span id="BodySponsorType"></span>&nbsp;earning&nbsp;<span id="BodySponsorPayout"></span>&nbsp;per year?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmSponsorSelect()">Accept</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="SponsorName" name="SponsorName" />
<input type="hidden" id="SponsorType" name="SponsorType" />
<input type="hidden" id="SponsorPayout" name="SponsorPayout" />
<input type="hidden" id="SponsorContractLength" name="SponsorContractLength" />


    <script>

        $('#myModal').modal({
            show: false
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        });

        $.getJSON("Finances/GetSponsorOptions/?type=-1", function (data) {
            console.log(data);
        });

        function popupAreYouSureSponsor(type, name, imageUrl, payout, length) {
            // hiddens
            $('#SponsorName').val(name);
            $('#SponsorType').val(type);
            $('#SponsorPayout').val(payout);
            $('#SponsorContractLength').val(length);

            $('#ConfirmSponsorTitle').html(name + ' as your ' + type + ' sponsor?');
            $('#BodySponsorName').html(name);
            $('#BodySponsorType').html(type)
            $('#BodySponsorImage').attr('src', imageUrl);
            $('#BodySponsorPayout').html(payout);
            $('#myModal').modal('show');

        }

        function ConfirmSponsorSelect() {
            $.post("Finances/AcceptSponsor/?Type=" + $('#SponsorType').val() + "&SponsorName=" + $('#SponsorName').val() + "&SponsorPayout=" + $('#SponsorPayout').val() + "&NumOfYears=" + $('#SponsorContractLength').val()

                , function (d) {
                console.log(d);
                $('#myModal').modal('hide');
                if (d.success == "true") {
                    $('#myModal').modal('hide');
                }
                window.location = '@Url.Action("Sponsors", "Finances")';
            }).fail(function (event, jqXHR, settings, exception) {

                console.error(exception);
                alert("error");
                alert(exception);

            });

        }
    </script>


