@using CareerExpansionMod.CME
@using CareerExpansionMod.CME.FIFA
@using CareerExpansionMod.CME.Finances
@{
    ViewData["Title"] = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var AlcoholSponsor = ViewBag.AlcoholSponsor as Sponsor;
    var DrinksSponsor = ViewBag.DrinksSponsor as Sponsor;
    var FoodSponsor = ViewBag.FoodSponsor as Sponsor;
    var GeneralSponsor = ViewBag.GeneralSponsor as Sponsor;
    var GymSponsor = ViewBag.GymSponsor as Sponsor;
    var HospitalitySponsor = ViewBag.HospitalitySponsor as Sponsor;
    var KitSponsor = ViewBag.KitSponsor as Sponsor;
    var LegalSponsor = ViewBag.LegalSponsor as Sponsor;
    var MainSponsor = ViewBag.MainSponsor as Sponsor;
    var NutritionalSponsor = ViewBag.NutritionalSponsor as Sponsor;
    var TrainingSponsor = ViewBag.TrainingSponsor as Sponsor;
    var TravelSponsor = ViewBag.TravelSponsor as Sponsor;
}

<h1>Club Sponsors and Partnerships</h1>

<div class="row">
    @if (MainSponsor != null)
    {
        <div class="col-4">
            <div class="card plain">
                <div class="card-body plain">
                    <img src="@MainSponsor.GetSponsorImageUrl()" style="width: 100%;" />
                </div>
                <div class="card-footer">
                    <span>Payout:&nbsp;</span>@String.Format("{0:C}", MainSponsor.SponsorPayoutPerYearMax)&nbsp;per year
                    <br />
                    Main Sponsor
                </div>
            </div>
        </div>
    }
    @if (KitSponsor != null)
    {
        <div class="col-4">
            <div class="card plain">
                <div class="card-body plain">
                    <img src="@KitSponsor.GetSponsorImageUrl()" style="width: 100%;" />
                </div>
                <div class="card-footer">
                    <span>Payout:&nbsp;</span>@String.Format("{0:C}", KitSponsor.SponsorPayoutPerYearMax)&nbsp;per year
                    <br />
                    Kit Sponsor
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-4">
            <div class="card plain">
                <div class="card-header">
                    Select your Kit Sponsor
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>PPY</th>
                                <th>Yrs.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kitSponsor in Sponsor.LoadAll().Where(x => x.SponsorType == eSponsorType.Kit))
                            {
                            <tr onclick="popupAreYouSureSponsor('@eSponsorType.Kit', '@kitSponsor.SponsorName', '@kitSponsor.GetSponsorImageUrl()', '@kitSponsor.SponsorPayoutPerYearMax')">
                                <td><img src="@kitSponsor.GetSponsorImageUrl()" width="100" /></td>
                                <td>@kitSponsor.SponsorName</td>
                                <td>
                                    @if (CareerDB1.FIFAUser != null)
                                    {
                                        @SponsorsToTeam.GetCaclulatedPayoutAmount(CareerDB1.FIFAUser.clubteamid, kitSponsor.SponsorName)
                                    }
                                    else
                                    {
                                        @kitSponsor.SponsorPayoutPerYearMax
                                    }
                                </td>

                                <td>
                                    @if (CareerDB1.FIFAUser != null)
                                    {
                                        @SponsorsToTeam.GetCalculatedContractLengthInYears(CareerDB1.FIFAUser.clubteamid, kitSponsor.SponsorName)
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    }
    @if (TrainingSponsor != null)
    {
        <div class="col-4">
            <div class="card plain">
                <div class="card-body plain">
                    <img src="@TrainingSponsor.GetSponsorImageUrl()" style="width: 100%;" />
                </div>
                <div class="card-footer">
                    <span>Payout:&nbsp;</span>@String.Format("{0:C}", TrainingSponsor.SponsorPayoutPerYearMax)&nbsp;per year
                    <br />
                    Training Sponsor
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {

    <script>
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    })

    $.getJSON("Finances/GetSponsorOptions/?type=-1", function (data) {

        console.log(data);

    });

        function popupAreYouSureSponsor(type, name, imageUrl, payout) {
            alert('hi there');
        }
    </script>

}

