@using CareerExpansionMod.CEM;
@using CareerExpansionMod.CEM.FIFA
@using v2k4FIFAModding.Career.CME.FIFA
@model v2k4FIFAModding.Career.CME.FIFA.FIFATeam
@{




    var User = CareerDB1.FIFAUser;
    var Team = CareerDB1.UserTeam;
    var TeamPlayers = Team.GetPlayers();
    //var TeamLeaderPlayers = Team.GetTeamLeaders();
    //var TeamInfluencePlayers = Team.GetTeamInfluences();
    //var TeamRegularPlayers = Team.GetPlayers();
    //var TeamTroubleMakers = Team.GetTeamTroubleMakers();

    var TeamPersonality = Team.PersonalityTypeOfTeam;
    var TeamEmotionality = Team.EmotionalTypeOfTeam;


}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Influence Table / Squad Ranking</h5>
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;">Name</th>
                                        <th style="width: 25%;">Emotion</th>
                                        <th style="width: 25%;">Personality</th>
                                        <th style="width: 25%;">Ranking Score</th>
                                    </tr>

                                </thead>

                            </table>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div style="height: 250px; overflow:auto;">
                                <table class="table">
                                    <tbody>
                                        @foreach (var p in TeamPlayers.OrderByDescending(x => FIFATeam.InfluenceCalculation(x)))
                                        {
                                            <tr>
                                                <td style="width: 25%;">@p.Name</td>
                                                <td style="width: 25%;">@p.EmotionalType.GetDescription()</td>
                                                <td style="width: 25%;">@p.PersonalityType.GetDescription()</td>
                                                <td style="width: 25%;">@FIFATeam.InfluenceCalculation(p)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-6">
            <div class="row"></div>
            <div class="p-3 bg-light">
                <h6>Team Emotion</h6>
                <div class="p-2">
                    @switch (TeamEmotionality)
                    {
                        case EmotionalTypes.VeryCalm:
                            <div class="text-dark bg-info p-2">
                                <i class="fas fa-thermometer-empty"></i>
                                @TeamEmotionality
                            </div>
                            break;
                        case EmotionalTypes.Calm:
                            <div class="text-white bg-success p-2">
                                <i class="fas fa-smile-beam"></i>
                                @TeamEmotionality
                            </div>
                            break;
                        case EmotionalTypes.Normal:
                            <div class="text-white bg-success p-2">
                                <i class="fas fa-smile"></i>
                                @TeamEmotionality
                            </div>
                            break;
                        case EmotionalTypes.HotTemper:
                            <div class="text-white bg-danger p-2">
                                <i class="far fa-angry"></i>
                                @TeamEmotionality
                            </div>
                            break;
                        case EmotionalTypes.Volcano:
                            <div class="text-white bg-danger p-2">
                                <i class="fas fa-fire-alt"></i>
                                @TeamEmotionality
                            </div>
                            break;
                    }

                </div>


                <h6>Team Personality</h6>


                <div class="p-2">
                    @switch (Model.PersonalityTypeOfTeam)
                    {
                        case PersonalityTypes.Selfish:
                            <div class="text-white bg-danger p-2">
                                <i class="fas fa-user-alt-slash"></i>
                                @Html.Raw(Model.PersonalityTypeOfTeam)
                            </div>
                            break;
                        case PersonalityTypes.Individual:
                            <div class="text-white bg-warning p-2">
                                <i class="fas fa-user"></i>
                                @Html.Raw(Model.PersonalityTypeOfTeam)
                            </div>
                            break;
                        case PersonalityTypes.Normal:
                            <div class="text-white bg-primary p-2">
                                <i class="fas fa-users"></i>
                                @Html.Raw(Model.PersonalityTypeOfTeam)
                            </div>
                            break;
                        case PersonalityTypes.TeamPlayer:
                            <div class="text-dark bg-info p-2">
                                <i class="fas fa-users"></i>
                                @Html.Raw(Model.PersonalityTypeOfTeam)
                            </div>
                            break;
                        case PersonalityTypes.UltimateProfessional:
                            <div class="text-dark bg-success p-2">
                                <i class="fas fa-users"></i>
                                @Html.Raw(Model.PersonalityTypeOfTeam)
                            </div>
                            break;
                    }

                </div>

                <h6>Ideal Captain</h6>
                <div class="p-2">
                    <div class="text-white bg-success p-2">
                        <i class="fas fa-user-cog"></i>
                        @Html.Raw(Model.IdealCaptainOfTeam)
                    </div>
                </div>
            </div>
            <div class="alert alert-info mt-1">
                <h6>Help</h6>
                <div class="row col-12">
                    <strong>How does this affect my Game?</strong>
                    <p>
                        This deeply affects how the players act or react to conversations and press conferences.
                        <br />
                        A "Team Player" or "Ultimate Professional" will generally accept attacks at the team but if you have a "Hot Tempered" "Individual", you need to watch what you say!
                    </p>
                </div>
                <div class="row col-12">
                    <strong>All of my Youth players are "Selfish" and "Very Calm"</strong>
                    <p>
                        Welcome to EA's infinite wisdom. They created a whole new feature and didn't bother embedding it into the Youth System.
                        &nbsp;In Phase 2, I will allow you to fix that via this page.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
